<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8", http-equiv="Content-Type">
  </head>
  <body>
    <p>Hi <%= @user.firstname %> <%= @user.lastname %>,</p>
    <p>We have sent you e-mail with your new password. Check your email.
       <p><a id="loginForm" href="#/" >Back to login</a></p>
    </p>
    <p>Thank you,</p>
    <p>the Scrummer Team</p>
  </body>
</html>