<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8", http-equiv="Content-Type">
  </head>
  <body>
    <p>Hi <%= @user.firstname %> <%= @user.lastname %>,</p>
    <p>You forgot your password. This is your new password: <%= @user.password %> To continue click on the <a href="https://scrummer-nwt.herokuapp.com/#/login">link</a>.</p>

    </p>
    <p>Thank you,</p>
    <p>the Scrummer Team</p>
  </body>
</html>