<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8", http-equiv="Content-Type">
  </head>
  <body>
    <p>Hi <%= @user.firstname %> <%= @user.lastname %>,</p>
    <p>You requested a change of your password. You can change it on this <a href="<%= @host %>/api/users/change_password_form?token=<%= @user.generate_auth_token %>">link</a>.</p>
    <p>If you didn't request this change, just ignore the email.</p>
    <p>Thank you,</p>
    <p>the Scrummer Team</p>
  </body>
</html>