<div ng-app="scrummer">
  <div class="container">
    <div ng-controller="alertsCtrl">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>