<div class="container">
  <div class="row">
  <header title="title" description="description"></header>
  </div>

  <div class="col-md-3">
    <menu></menu>
  </div>

  <div class="col-md-9 backlog-container">

    <div ng-show="user_role == 'Manager'">
      <button class="btn btn-common" ng-click="open('lg')">Start New Sprint</button>
    </div><br>
    <div class="row">
      <div class="panel panel-common">
        <div class="panel-heading">New Sprint</div>

        <div ui-sortable="selectedItems" class="panel-body ticket-space-backlog" ng-model="selectedTickets">
          <div class="well ticket" ng-repeat="ticket in selectedTickets">
            <ticket></ticket>
          </div>
        </div>
      </div>
    </div>

	<div>
		<a class="btn btn-default" ng-href="/#/projects/{{project.id}}/backlog/userstories" translate="NEW_USERSTORY"></a>
		<br>
		<br>
	</div>
	

    <div class="row">
      <div class="panel panel-common">
        <div class="panel-heading">Backlog</div>
        <div ui-sortable="notSelectedItems" class="panel-body ticket-space-backlog" ng-model="tickets">
            <div class="well ticket" ng-repeat="ticket in tickets">
              <ticket></ticket>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/ng-template" id="newSprintModalContent.html">
  <div class="modal-header">
      <h3 class="modal-title">Create New Sprint</h3>
  </div>
  <div class="modal-body">

    <div class="jumbotron">
      You selected these tickets for new sprint:
        <ul ng-repeat="item in items">
          <li>{{item.name }} </li>
        </ul><br><br>
      Ramaining tickets from current sprint:
        <ul ng-repeat="ticket in remaining_tickets">
          <ticket></ticket>
        </ul><br><br>
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-xs-4 control-label">Sprint name:</label>
        <div class="col-xs-8">
          <input type="text" ng-model="sprint.name" class="form-control" id="name" required>
        </div>
      </div>

      <div class="form-group">
        <label for="end_date" class="col-xs-4 control-label">End date:</label>
        <div class="col-xs-8">
        <input type="date" ng-model="sprint.end_date" "sprint.end_date" class="form-control" id="end_date" required>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-common" ng-click="start()">Start</button>
      <button class="btn btn-common" ng-click="cancel()">Cancel</button>
  </div>
</script>
