<div class="container">
<div class="row">
  <header title='title'></header>
</div>

<div class="col-md-3">
 <menu></menu>
</div>
<div class="col-md-9">
  <div ng-repeat="activity in activities | orderBy:'timestamp'" ng-animate="'animate'">
    <a class="jumbotron col-sm-6" href="{{activity.msg.url}}" id="activity">
      <span class="{{activity.msg.icon}}"> {{activity.msg.content}}</span><br><br>
      <small id="timestamp" ng-model="activity.timestamp">{{activity.timestamp}}</small>
    </a>
  </div>
</div>