<div class="container">
  <div class="row">
  <header title="title" description="description"></header>
  </div>

  <div class="col-md-3">
    <menu></menu>
  </div>

  <div class="col-md-9 inbox-container">
    <div class="row">
      <a ng-href="/#/message/new" class="btn btn-common" translate="NEW_MESSAGE"></a>
    </div><br>
    <div class="row">
      <div class="panel panel-msg">
        <div class="panel-heading" translate="MESSAGES"></div>
        <table class="table">
          <thead>
            <tr>
              <th translate="SUBJECT"></th>
              <th translate="SENDER">Sender</th>
              <th translate="RECIPIENT">Recipient</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="message in messages">
              <td><a ng-href="/#/inbox/{{message.id}}">{{message.title}}</a></td>
              <td>{{message.sender.username}}</td>
              <td>{{message.recipient.username}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>