<div class="container login-container col-xs-offset-4 col-xs-4">

    <h4 class="title" translate="LOGIN"></h4>
    <form class="form-horizontal" role="form" id="loginform">
      <div class="form-group">
        <label for="email" class="col-xs-3 control-label" translate="EMAIL"></label>
        <div class="col-xs-8">
          <input type="text" ng-model="login.email" class="form-control" id="email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-xs-3 control-label" translate="PASSWORD"></label>
        <div class="col-xs-8">
          <input type="password" ng-model="login.password" class="form-control" id="password" required>
        </div>
      </div>
      <div class="form-group">
         <div class="col-xs-offset-3 col-xs-6">
          <h6><a id="forgotPassword" ng-click="doReset()" translate="FORGOT_PASS" style="cursor: pointer"></a></h6>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
          <h6><a id="signup" ng-click="signUp()" style="cursor: pointer">No account? Create one!</a></h6>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button type="submit" class="btn btn-common" ng-click="doLogin()" translate="LOGIN"></button>
        </div>
      </div>
    </form>

</div>