<div class="container">
  <div class="row">
  <header title="title" description="description"></header>
  </div>

  <div class="col-md-3">
    <menu></menu>
  </div>

  <div class="col-md-9">
    <div class="row">
      <form ng-submit="addMember()">
          <div class="form-group">
            <div class="col-xs-8">
            <oi-multiselect
              ng-options="user.username for user in users track by user.id"
              ng-model="selected_user.user"
              placeholder="Select members"
              ></oi-multiselect>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-common" value="Add" />
            </div>
          </div>
      </form>
    </div>
      <div class="row" style="margin-top:20px">
      <table class="table">
        <tbody>
          <tr ng-repeat="member in members">
            <td>{{member.firstname}} {{member.lastname}} - {{member.username}}</td>
            <td>{{member.role}}</td>
            <td ng-switch on="member.role">
              <button ng-click="promote(member.id)" class="btn btn-common" ng-switch-when="Member" ng-show="current_user.id !== member.id">Promote</button>
              <button ng-click="degrade(member.id)" class="btn btn-common" ng-switch-when="Manager" ng-show="current_user.id !== member.id">Degrade</button>
            </td>
            <td><button ng-click="removeMember(member.id)" class="btn btn-common" ng-show="current_user.id !== member.id">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>