<div class="container">
<div class="row">
  <header title='title'></header>
</div>

<div class="col-md-3">
 <menu></menu>
</div>

<div class="container col-md-9 newproject-container">
<h5 class="title">New ticket</h5>
<form class="form-horizontal" role="form" id="newticketform"  name="newticketform" novalidate >
   <div class="form-group">
        <label for="name" class="col-xs-4 control-label" translate="DESCRIPTION"></label>
        <div class="col-xs-8">
          <textarea ng-model="ticket.description" class="form-control" id="description" name="description" required></textarea>
          <div class="error-container" ng-show="newticketform.description.$invalid && newticketform.submitted">
          <small class="error"
            ng-show="newticketform.description.$error.required">
            Description is required.
          </small>
        </div>
        </div>
      </div>
       <div class="form-group">
        <label for="name" class="col-xs-4 control-label" translate="ESTIMATE"></label>
        <div class="col-xs-8">
          <input type="number" ng-model="ticket.estimate" class="form-control" id="estimate" name="estimate" required>
          <div class="error-container" ng-show="newticketform.estimate.$invalid && newticketform.submitted">
          <small class="error"
            ng-show="newticketform.estimate.$error.required">
            Estimation is required.
          </small>
           <small class="error"
            ng-show="newticketform.estimate.$error.number">
            It has to be a number.
          </small>
        </div>
        </div>
      </div>
        <div class="form-group">
                <label for="types" class="col-xs-4 control-label" translate="TYPES_TICKET"></label>
                <div class="col-xs-8">
                <oi-select
                  oi-options="type.name  for type in types track by type.id"
                  ng-model="selected_type"
                  ></oi-select>
                </div>
      </div>

      <div class="form-group">
                <label for="mambers" class="col-xs-4 control-label" translate="ADDMEMBER"></label>
                <div class="col-xs-8">
                <oi-select
                  oi-options="user.firstname +' ' + user.lastname  for user in users track by user.id"
                  ng-model="selected_user"
                  ></oi-select>
                </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-10 col-xs-8">
          <button type="submit" class="btn btn-common" ng-click="saveTicket()" translate="SAVE_TICKET"></button>
        </div>
      </div>
    </form>

</div>


</div>