<div class="container">
<div class="row">
  <header title='title'></header>
</div>

<div class="col-md-3">
 <menu></menu>
</div>



<div class="container col-md-9 newproject-container">
    <h5 class="title">New project</h5>
    <form class="form-horizontal" role="form" id="newprojectform"  name="newprojectform" novalidate >
      <div class="form-group">
        <label for="name" class="col-xs-4 control-label" translate="NAME_PROJECT"></label>
        <div class="col-xs-8">
          <input type="text" ng-model="project.name" class="form-control" id="name" name="name"   ng-minlength="3" ng-maxlength="25" required />
        <div class="error-container" ng-show="newprojectform.name.$invalid && newprojectform.submitted">
          <small class="error"
            ng-show="newprojectform.name.$error.required">
            Project name is required.
          </small>
          <small class="error"
            ng-show="newprojectform.name.$error.minlength">
            Project name is required to be at least 3 characters.
          </small>
          <small class="error"
            ng-show="newprojectform.name.$error.maxlength">
            Project name cannot be longer than 25 characters.
          </small>
        </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-xs-4 control-label" translate="CODE_NAME_PROJECT"></label>
        <div class="col-xs-8">
          <input type="text" ng-model="project.code_name" class="form-control" id="code_name" name="code_name" ng-minlength="3" ng-maxlength="25"required/>
          <div class="error-container" ng-show="newprojectform.name.$invalid && newprojectform.submitted">
          <small class="error"
            ng-show="newprojectform.code_name.$error.required">
            Code  name is required.
          </small>
          <small class="error"
            ng-show="newprojectform.code_name.$error.minlength">
            Project code name is required to be at least 3 characters.
          </small>
          <small class="error"
            ng-show="newprojectform.name.$error.maxlength">
            Projectcode  name cannot be longer than 25 characters.
          </small>
        </div>
        </div>
      </div>
    <div class="form-group">
        <label for="name" class="col-xs-4 control-label" translate="DESCRIPTION"></label>
        <div class="col-xs-8">
          <input type="text" ng-model="project.description" class="form-control" id="description" name="description" required>
          <div class="error-container" ng-show="newprojectform.description.$invalid && newprojectform.submitted">
          <small class="error"
            ng-show="newprojectform.description.$error.required">
            Description is required.
          </small>
        </div>
        </div>
      </div>

        <div class="form-group">
                <label for="mambers" class="col-xs-4 control-label" translate="ADDMEMBERS"></label>
                <div class="col-xs-8">
                <oi-select
                  oi-options="user.firstname +' ' + user.lastname  for user in users track by user.id"
                  ng-model="selected_users"
                  multiple
                  ></oi-select>
                </div>
      </div>



      <div class="form-group">
        <div class="col-xs-offset-10 col-xs-8">
          <button type="submit" class="btn btn-common" ng-click="saveProject()" translate="SAVE_PROJECT"></button>
        </div>
      </div>
    </form>

</div>


</div>
