<div class="container">
  <div class="row">
  <header title="title" description="description"></header>
  </div>

  <div class="col-md-3">
    <menu></menu>
  </div>

  <div class="col-md-9 project-container">
    <div class="project-navigation">
      <a class="btn btn-common" ng-href="/#/projects/{{project.id}}/board"></span>  Board view</a>
      <a class="btn btn-common" ng-href="/#/projects/{{project.id}}/backlog">Backlog view</a>

      <br><br>
      <div class="jumbotron basic-info">
        <div style="display: inline;">
          <h4 class="action" style="display: inline;">{{project.name}} - {{project.code_name}}</h4>
          <!-- button to show form -->
          <button style="display:inline; float:right;"class="btn btn-common" ng-show="role == 'Manager'" ng-click="editableProjectForm.$show()" ng-show="!editableProjectForm.$visible"><span class="glyphicon glyphicon-edit"></span></button>

        </div>
        <br><br><br><br>
        <p>{{project.description}}</p><br><br>
        <div>
          <a ng-href="/#/projects/{{project.id}}/resources"><span class="glyphicon glyphicon-paperclip icon"></span></a><span class="action">Resources</span>

          <a ng-href="/#/projects/{{project.id}}/members" ng-show="user_role == 'Manager'"><span class="glyphicon glyphicon-user icon"></a><span class="action" ng-show="user_role == 'Manager'">Manage members</span>


          <a ng-href="" ng-click="toggleCharts()"><span class="glyphicon glyphicon-signal icon"></span></a>Statistic
        </div>
      </div>

    </div>
    <br>
     <div class="col-md-9" ng-show="editableProjectForm.$visible">
        <form editable-form name="editableProjectForm" onaftersave="saveProject()">

        <div class="form-group ">
          <span class="title col-xs-4 " translate="NAME_PROJECT"></span>
          <div class="col-xs-8">
          <span editable-text="project.name" e-name="name" onbeforesave="checkString($data)" e-required>{{ project.name || 'empty' }}</span>
        </div>
        </div>

       <div class="form-group">
          <span class="title col-xs-4 " translate="CODE_NAME_PROJECT"></span>
          <div class="col-xs-8">
          <span editable-text="project.code_name" e-name="code_name" onbeforesave="checkString($data)" e-required>{{ project.code_name || 'empty' }}</span>
        </div>
      </div>
       <div class="form-group">
          <span class="title col-xs-4 " translate="DESCRIPTION"></span>
          <div class="col-xs-8">
          <span editable-text="project.description" e-name="description"  e-required>{{ project.description || 'empty' }}</span>
        </div>
      </div>
      <div class="buttons">

          <!-- buttons to submit / cancel form -->
          <span >
            <button type="submit" class="btn btn-common" ng-disabled="editableProjectForm.$waiting" translate="SAVE">
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableProjectForm.$waiting" ng-click="editableProjectForm.$cancel()" translate="CANCEL">
            </button>
          </span>
      </div>

    </form>
  </div>
      <div class=" col-md-12 jumbotron" ng-repeat="chart in charts" style='display: none'>
        <h5>{{chart.title}}</h5>
        <nvd3 options="chart.options" data="chart.data"></nvd3>
      </div>
  </div>
</div>