<div class="container">
  <div class="row">
  <header title="title" description="description"></header>
  </div>

  <div class="col-md-3">
    <menu></menu>
  </div>

  <div class="col-md-9">
    <div class="project-navigation">
      <a class="btn btn-primary" ng-href="/#/projects/{{project.id}}/board">Sprint Board</a>
      <a class="btn btn-default" ng-href="/#/projects/{{project.id}}/backlog">Backlog</a>
      <a class="btn btn-default" ng-href="/#/projects/{{project.id}}/members" ng-show="user_role == 'Manager'">Promote members</a>
    </div>
    <br>

    <div class="jumbotron chart" ng-repeat="chart in charts">
      <h5>{{chart.title}}</h5>
      <nvd3 options="chart.options" data="chart.data"></nvd3>
    </div>
  </div>
</div>