<div class="container">
  <div class="row">
  <header title="title" description="description"></header>
  </div>

  <div class="col-md-3">
    <menu></menu>
  </div>

  <div class="col-md-9 project-container">
    <div class="project-navigation">
      <a class="btn btn-common" ng-href="/#/projects/{{project.id}}/board">Board view</a>
      <a class="btn btn-common" ng-href="/#/projects/{{project.id}}/backlog">Backlog view</a>
      <a class="btn btn-common" ng-href="/#/projects/{{project.id}}/resources">Resources</a>
      <a class="btn btn-common" ng-href="/#/projects/{{project.id}}/members" ng-show="user_role == 'Manager'">Manage members</a>
     <!-- button to show form -->
      <button ng-show="role == 'Manager'" type="button" class="btn btn-common" ng-click="editableProjectForm.$show()" ng-show="!editableProjectForm.$visible" translate="EDIT">
      </button>
       <!-- button to show form -->
      <button ng-show="role == 'Manager'" type="button" class="btn btn-common" ng-click="removeMembersForm.$show()" ng-show="!removeMembersForm.$visible" translate="REMOVE_MEMBERS">
      </button>

    </div>
    <br>
     <div class="col-md-9" ng-show="editableProjectForm.$visible">
    <form editable-form name="editableProjectForm" onaftersave="saveProject()">

    <div class="form-group ">
      <span class="title col-xs-4 " translate="NAME_PROJECT"></span>
      <div class="col-xs-8">
      <span editable-text="project.name" e-name="name" onbeforesave="checkString($data)" e-required>{{ project.name || 'empty' }}</span>
    </div>
    </div>

   <div class="form-group">
      <span class="title col-xs-4 " translate="CODE_NAME_PROJECT"></span>
      <div class="col-xs-8">
      <span editable-text="project.code_name" e-name="code_name" onbeforesave="checkString($data)" e-required>{{ project.code_name || 'empty' }}</span>
    </div>
  </div>
   <div class="form-group">
      <span class="title col-xs-4 " translate="DESCRIPTION"></span>
      <div class="col-xs-8">
      <span editable-text="project.description" e-name="description"  e-required>{{ project.description || 'empty' }}</span>
    </div>
  </div>
  <div class="buttons">

      <!-- buttons to submit / cancel form -->
      <span >
        <button type="submit" class="btn btn-common" ng-disabled="editableProjectForm.$waiting" translate="SAVE">
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableProjectForm.$waiting" ng-click="editableProjectForm.$cancel()" translate="CANCEL">
        </button>
      </span>
  </div>

</form>
</div>
<div class="col-md-9" ng-show="removeMembersForm.$visible">
  <form editable-form name="removeMembersForm" onaftersave="editMembers()">
      <div class="form-group">
                <label for="mambers" class="col-xs-4 control-label" translate="REMOVE_MEMBERS"></label>
                <div class="col-xs-8">
                <oi-multiselect
                  ng-options="user.firstname +' ' + user.lastname  for user in users track by user.id"
                  ng-model="selected_users"
                  multiple
                  placeholder="Select members"
                  ></oi-multiselect>
                </div>
      </div>
     <div class="buttons">
      <!-- buttons to submit / cancel form -->
      <span >
        <button type="submit" class="btn btn-common" ng-disabled="removeMembersForm.$waiting" translate="SAVE">
        </button>
        <button type="button" class="btn btn-default" ng-disabled="removeMembersForm.$waiting" ng-click="removeMembersForm.$cancel()" translate="CANCEL">
        </button>
      </span>
  </div>
  </form>
</div>

    <div class=" col-md-12 jumbotron" ng-repeat="chart in charts">
      <h5>{{chart.title}}</h5>
      <nvd3 options="chart.options" data="chart.data"></nvd3>
    </div>
  </div>
</div>