.status-heading {
  text-align: center;
}
.ticket {
  margin: 3px;
}
.ticket-space {
  padding: 0;
}
.ticket-space-col {
  padding: 0;
  height: 100%;
}
.small-info {
  font-size: 10px;
}
.gray {
  color: #888;
}