.status-heading {
  text-align: center;
}
.ticket {
  margin: 3px;
}
.ticket-space {
  padding: 0;
}
.ticket-space-col {
  padding: 0;
  height: 100%;
}
.small-info {
  font-size: 10px;
}
.gray {
  color: #888;
}

#header .btn  {
  float:right;
}

#header {
  font-size: 14px;
}

#header p {
  font-size: 24px;
  font-weight: bold;
}
#header p small {
  font-weight: normal;
  font-size: 14px;
}

#activity:hover {
  text-decoration: none;
}